body {
    background-color: #111;
    color: white;
}

.hero-title {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.slogan {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

hr {
    border: 2px solid #444;
    width: 60%;
    margin: 20px auto;
}

.engine-img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 30px;
}

footer {
    background-color: black;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
    
