body {
    background-color: #111 !important;
    color: white !important;
}

p {
    color: white;
}



.hero-title {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.slogan {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

hr {
  border: 0;
  border-top: 2px solid #ff4d4d; /* visible red */
  width: 60%;
  margin: 20px auto;
}

.engine-img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 30px;
}

footer {
    background-color: black;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav links-li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color:grey;
}

.section-title {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.section-title:after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 3px solid white;
}

.section-title::before {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 3px dashed grey;
    position: absolute;
    bottom: -3px;
    left: 50%;
}

.car-section {
    padding: 60px 80px;
}

.car-container {
    display: flex;
    align-items: center;
    gap: 40px;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s ease;
}

.car-container:hover {
    transform: scale(1.02);
}
.slider {
    position: relative;
}

.car-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: -40px;
}

.next {
    right: -40px;
}

.car-description {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.6;
    color: #ccc;
}

.topnav{
  width:100%;
  background:#000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
}

.topnav .logo{
  color:#fff;
  font-size:22px;
  font-weight:800;
  letter-spacing:2px;
}

.topnav .nav-links{
  list-style:none;
  display:flex;
  margin:0;
  padding:0;
}

.topnav .nav-links li{
  margin-left:30px;
}

.topnav .nav-links a,
.topnav .nav-links a:visited{
  color:#fff !important;
  text-decoration:none;
  font-weight:700;
  letter-spacing:1px;
}

.topnav .nav-links a:hover{
  color:#999 !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff4d4d; 
}

.contact-email {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid grey;
    padding-bottom: 2px;
    transition: 0.3s;
}

.contact-email:hover {
    color: #ff4d4d;
    border-bottom: 2px solid #ff4d4d;
}
